<header>
  <div>
    <a href="/">
      <div style="display: block">
        <span class="still">still</span><span class="awake">awake</span><span class="dot">.</span>
      </div>
    </a>

    <h2>{{ site.description }}</h2>

    <div class="author">- {{ site.alias }}</div>
  </div>
</header>

<div class="navbar">
  <a href="/blog" class="navbar-child"> blog </a>
  <a href="/whoami" class="navbar-child"> whoami </a>
  <a href="/archive" class="navbar-child"> archive </a>
  <a href="/connect" class="navbar-child"> connect </a>
</div>
